@tailwind base;
@tailwind components;
@tailwind utilities;

/* Agrega tus estilos personalizados aquí */
html {
  @apply overflow-hidden font-serif;
  font-family: 'Merriweather', serif;
  line-height: 2rem;
}

body,
html {
  @apply text-white bg-gray-900;
}

input,
select,
textarea {
  outline: none;
  border: 1px solid #ccc;
  background: transparent;
}
