@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  overflow: hidden;
  font-family: 'Merriweather', serif;
  line-height: 2rem;
}

body, html {
  color: whitesmoke;
  background: #101827;
}


@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}


.animate-fadeInRight {
  animation: fadeInRight 0.3s ease-in-out;
}

.animate-fadeOutRight {
  animation: fadeOutRight 0.3s forwards;
}
















